<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <style>
        input, textarea {
            display: block;
            margin-bottom: 5px;
            outline: none;
        }

        ul {
            list-style: none;
        }

        ul > li {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <section class="chat">
        <h4>Group chat</h4>
        <div id="messages">
            <ul id="messageList">
                
            </ul>
        </div>

        <form id="messageBox">
            {{.UserData.name}}:<br/>
            <textArea id="msgWriter"></textArea>
            <input type="submit" value="Send Message">
        </form>
    </section>

    <!--Script handles websocket connection and message rendering-->
    <script>
        const selectElement = (e) => document.querySelector(e);

        var messageList = selectElement("#messageList");
        var msgWriter = selectElement("#msgWriter");
        var socket = null

        // showNewMessage displays new message in messageList
        const showNewMessage = (val) => {
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(val.Name + ": " + val.Message));
            messageList.appendChild(li);
        }

        // typed message is sent by a socket (if available) to the server
        function sendMessage(event) {
            if (!msgWriter.value) return false;
            if (!socket) {
                alert("No socket connection. Reload or Change your browser");
                return false
            }

            
            socket.send(JSON.stringify({"Message": msgWriter.value}));
            msgWriter.value = "";
            event.preventDefault();
            return false
        }

        if (!window["WebSocket"]) {
            alert("Your browser does not support web sockets. Change browser");
        } else {
            socket = new WebSocket("ws://{{.Host}}/room");
            socket.onclose = function(){
                alert("Web socket connection has been closed");
            }

            // calls showNewMessage if socket receives message
            socket.onmessage = function(msg) {
                showNewMessage(JSON.parse(msg.data));
            }
        }
        selectElement("#messageBox").addEventListener("submit", sendMessage, false);
    </script>
</body>
</html>